@import "tailwindcss";

:root {
  --color-dark: #01161e;
  --color-light: #eff6e0;
  --color-dark-green: #124559;
  --color-secondary: #124559b4;
  --color-green: #598392;
  --color-light-green: #aec3b0;

  --large-font: 104px;
  --large-line: 52px;
  --large-weight: 500;

  --medium-font: 52px;
  --medium-line: 52px;
  --medium-weight: 500;
}

body {
  background-color: rgb(245, 245, 245);
  color: rgb(1, 1, 1);
  font-size: clamp(14px, 1.6vw, 16px);
}

.secondary-text {
  color: var(--color-secondary);
}

.card-text-l {
  font-size: clamp(28px, 6vw, 76px);
  line-height: 1.15;
  font-weight: var(--large-weight);
}

.card-text-m {
  font-size: clamp(18px, 3.8vw, 52px);
  line-height: 1.2;
  font-weight: var(--medium-weight);
}

.btn {
  background: var(--color-dark-green);
  color: var(--color-light);
}

.btn:hover {
  background-color: var(--color-green);
  color: var(--color-light);
}